__pycache__/
.idea/
/notebooks/logs/
/notebooks/external_tutorials/logs/
/notebooks/training_data/
/Pipfile.lock
/notebooks/.ipynb_checkpoints/
/notebooks/checkpoints/
/presentation/.~lock.Alpha Epsilon meets Zühlke.pptx#
