[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
certifi = "*"
jupyter = "*"
tensorflow = "*"
tensorboard = "*"
tensorflow_probability = "*"
flask = "*"
Flask_SocketIO = "*"
pydantic = "*"
tqdm = "*"
coloredlogs = "*"
bitarray = "*"
gmpy2 = "*"
ray = {extras = ["default"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
