[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
certifi = "*"
tensorflow_gpu = "*"
tensorboard = "*"
tensorflow_probability = "*"
pydantic = "*"
tqdm = "*"
coloredlogs = "*"
bitarray = "*"
#gmpy2 = "*"
#pyyaml = "*"
#poetry = "*"
#pygame = "*"
#pygame_gui = "*"

[dev-packages]

[requires]
python_version = "3.8"
