[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
certifi = "*"
tensorflow = "*"
tensorboard = "*"
tensorflow_probability = "*"
tqdm = "*"
coloredlogs = "*"
bitarray = "*"
gmpy2 = "*"
pyyaml = "*"
pygame = "*"
pygame_gui = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.8"
